@font-face {
    font-family: 'Coolvetica';
    src: url(Assets/Fonts/coolvetica\ rg.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url(Assets/Fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Pontano Sans';
    src: url(Assets/Fonts/Pontano_Sans/PontanoSans-VariableFont_wght.ttf);
}
:root {
    --background1: #f8f8f8;
    --background2: #226f54;
    --white-site: #f4f4f5;
    --grey-hr: #5252526c;
    --dark-blue-nav: #192733;
    --green-button: #226f54;
    --green-button-active: #226f54;
    --green-highlight: #279C56;

    --darkmode-bg: #181f29;
    --darkmode-shadow: #0f0f0f6e;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--dark-blue-nav);
}
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    transition: all 0.3s ease-out;
    background-color: var(--white-background);
}
@keyframes fadeHeader {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
     }
}
a {
    text-decoration: none;
    color: inherit;
}
.flex {
    display: flex;
    flex-direction: row;
}
.grid {
    display: grid;
}
#logo {
    border-radius: 50%;
    height: 55px;
    margin: auto 8px;
    vertical-align: middle;
}
.nav-bar {
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    color: var(--white-site);
    background-color: transparent;
    user-select: none;
    z-index: 3;
    transition: 0.3s ease;
}
.nav-bar-activo {
    background-color: var(--dark-blue-nav);
    box-shadow: 0 3px 3px var(--darkmode-shadow);
}
.logo-y-titulo {
    align-items: center;
}
.menu {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
.menu > a {
    display: inline-block;
    position: relative;
    justify-content: space-between;
    vertical-align: middle;
    padding: 8px 10px;
    box-sizing: border-box;
    text-align: center;
    width: fit-content;
    transition: 0.1s;
    border-radius: 6px 6px 0 0;
    border-bottom: 3px solid transparent;
    cursor: default;
}
.menu > a:hover {
    border-bottom: 3px solid var(--green-highlight);
}
.menu > a:active {
    background-color:var(--dark-blue-nav);
}
.config-dropdown {
    display: none;
    position: absolute;
    float: right;
    text-align: center;
    right: 0;
    height: 0;
    width: fit-content;
    z-index: 10;
    transition: 0.2s ease;
    background-color: var(--dark-blue-nav);
}
.config-dropdown a {
    display: block;
    padding: 10px 12px;
    margin: 0;
    background-color: var(--dark-blue-nav);
}
.config-dropdown a:hover, 
.tarjeta-pie:hover {
    background-color: var(--green-highlight);
}
.config-active {
    transform: rotate(90deg);
    transition: 0.1s ease;
}
.config-mostrar {
    display: block;
    opacity: 100;
}
#config-img {
    margin: auto;
}
.config-button {
    margin: 0;
}
.config-button img, #dark-mode-button img {
    position: relative;
    height: 22px;
    vertical-align: middle;
}
#dark-mode-img1, #dark-mode-img2 {
    margin: 0 auto;
    transition: 2s linear;
    opacity: 100;
}
#dark-mode-img2 {
    display: none;
}
hr {
    height: 1px;
    border: none;
    width: 90%;
    margin: 30px auto;
    background-color: var(--grey-hr);
}
.header-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh);
    background-image: url(./Assets/Media/Banner-bg1.svg), url(./Assets/Media/Banner-bg2.svg);
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    transition: 0.3s;
    user-select: none;
    background-color: var(--white-background);
}
.banner-content {
    align-self: center;
    justify-self: center;
    justify-content: space-around;
    width: 70%;
    z-index: 2;
    cursor: default;
}
.banner-content, .social-media {
    animation: fadeHeader ease 1s; animation-iteration-count: 1; animation-fill-mode: forwards;
}
.profile-pic {
    aspect-ratio: 1 / 1;
    width: 40%;
    height: fit-content;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 50%;
    align-items: center;
}
.banner-descripcion {
    font-family: Helvetica, 'Pontano Sans', sans-serif;
    text-align: left;
    max-width: 400px;
    margin: auto;
    color: var(--dark-blue-nav);
}
.banner-titulo {
    font-size: 5rem;
    font-weight: 600;
    line-height: 100%;
}
.banner-subtitulo {
    font-family: 'Rubik';
    margin: 25px auto;
    font-size: 1.5rem;
    font-weight: 300;
}
.banner-texto {
    text-transform: none;
    font-size: 1.3rem;
}
.social-media {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 200px;
}
.social-media a img {
    height: 35px;
    transition: 0.2s;
}
.social-media a img:hover {
    filter: brightness(2);
}
section {
    scroll-snap-align: start;
    min-height: 100vh;
}
.acerca-de {
    background-color: var(--background1);
    padding: 40px 25px;
}
.section-text {
    font-family: 'Rubik', 'Pontano Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    width: 40%;
    margin: auto;
    text-align: left;
    color: var(--dark-blue-nav);
}

@media (max-width: 600px) {
    .nav-bar {
        height: 55px;
    }
    #logo {
        height: 52px;
    }
    #titulo-logo {
        display: none;
    }
    .header-banner {
        width: 100%;
    }
    .profile-pic {
        width: 35%;
        object-position: 50% 20%;
        margin: auto;
    }
    .banner-content {
        padding: 10px;
        width: 90%;
        gap: 20px;
    }
    .banner-descripcion {
        max-width: 350px;
    }
    .banner-titulo {
        font-size: 3.2rem;
        margin: 20px 0 0 0;
    }
    .banner-subtitulo {
        font-size: 1.1rem;
    }
    .social-media {
        margin: 30px auto 0;
    }
    .section-text {
        width: 75%;
        font-size: 1.5rem;
    }
}

#hora {
    position: absolute;
    right: 10px;
    color: #686868;
}

/* DARK MODE */

body.modo-oscuro {
    background-color: var(--darkmode-bg); 
    color: var(--white-site);
}
body.modo-oscuro .banner-descripcion {
    color: var(--white-site);
}
body.modo-oscuro .social-media a img {
    filter: brightness(9);
}
body.modo-oscuro .social-media a img:hover {
    filter: brightness(6);
}
body.modo-oscuro hr {
    background-color: #dadada6c;
}
body.modo-oscuro footer {
    background-color: #131313;
}